<div class="containerHeader">
    <h1>Pizzeria Parco i Pini</h1>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quaerat eaque cumque, tempore repellendus aspernatur tenetur pariatur velit asperiores, nulla molestias voluptatum aliquam delectus, ipsum earum expedita ipsam fugiat placeat.</li>
        <li>Eligendi facere alias ratione rerum autem pariatur sequi sapiente earum enim, libero praesentium, tempore quidem odit reprehenderit. Provident ea nesciunt dolore quam dicta doloremque similique. Harum ipsum natus repudiandae quod.</li>
        <li>Id hic ratione iusto dicta magni nisi harum officia eaque dignissimos at fugit ad repudiandae voluptate dolorem animi ex adipisci, molestiae neque blanditiis. Temporibus, similique ipsa minus modi cupiditate sed!</li>
        <li>Maxime dolorem, tenetur sunt impedit, rem, unde totam modi fugit obcaecati deleniti vero odio exercitationem voluptas est. Qui eaque deleniti obcaecati quas consectetur! Labore facere eligendi harum nobis. Animi, eveniet.</li>
    </ul>
</div>